[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment={{ lookup('aws_ssm', 'dev.payment.CART_HOST', region='us-east-1' ) }}
Environment={{ lookup('aws_ssm', 'dev.payment.CART_PORT"', region='us-east-1' ) }}
Environment={{ lookup('aws_ssm', 'dev.payment.USER_HOST', region='us-east-1' ) }}
Environment={{ lookup('aws_ssm', 'dev.payment.USER_PORT', region='us-east-1' ) }}
Environment={{ lookup('aws_ssm', 'dev.payment.AMQP_HOST', region='us-east-1' ) }}
Environment={{ lookup('aws_ssm', 'dev.payment.AMQP_USER', region='us-east-1' ) }}
Environment={{ lookup('aws_ssm', 'dev.payment.AMQP_PASS', region='us-east-1' ) }}

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target