[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment={{ lookup('aws_ssm', 'dev.payment.CART_HOST', region='us-east-1' ) }}
#Environment={{ lookup('aws_ssm', 'dev.payment.CART_PORT', region='us-east-1' ) }}
#Environment={{ lookup('aws_ssm', 'dev.payment.USER_HOST', region='us-east-1' ) }}
#Environment={{ lookup('aws_ssm', 'dev.payment.USER_PORT', region='us-east-1' ) }}
#Environment={{ lookup('aws_ssm', 'dev.payment.AMQP_HOST', region='us-east-1' ) }}
#Environment={{ lookup('aws_ssm', 'dev.payment.AMQP_USER', region='us-east-1' ) }}
#Environment={{ lookup('aws_ssm', 'dev.payment.AMQP_PASS', region='us-east-1' ) }}

#Environment=CART_HOST=cart-dev.kalis30nov.online
Environment=CART_PORT=8080
Environment=USER_HOST=user-dev.kalis30nov.online
Environment=USER_PORT=8080
Environment=AMQP_HOST=rabbitmq-dev.kalis30nov.online
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=RABBIT_MQ_PASSWD

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target